body{
    background:#323940f7;
    height: 100vh;
}

#landing{
    position: relative;
    background: url('/assets/bkg.jpg') no-repeat center center/cover;
    height: 100vh;
}

#signin-box{
    width: 400px;
    height: 400px;
    /* height: 100%; */
}

#logo{
    width: 50px;
    height: auto;
}

/* #account{
    position: relative;
    background:#323940f7;
    height: 100vh;
} */

#playlists-display:hover{
    color:#28a745 !important;
    text-decoration: none;

}
